.screen{
    background-color: #dddddd33;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    max-width: 600px;
    width: 60vw;
    min-width: 320px;
    border-radius: 5px;
    max-height: 600px;

    color: black;
    background-color: var(--primary);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    width: 100%;
    height: 10vh;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.title{
    margin-left: 5px;
}

.close{
    cursor: pointer;
    font-weight: bold;
    margin-right: 20px;
}

.close:hover{
    color: #999999;
}

.infos{
    width: 100%;
    height: 80vh;
    background-color: black;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.footer{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button{
    background-color: black;
    border: 2px solid black;
    border-radius: 12px;
    height: 35px;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: var(--primary);
    outline: none;
    margin-right: 20px;
}

.button:hover{
    background-color: var(--primary);
    color: black;
    cursor: pointer;
}

@media(max-width:470px){
    .title{
        font-size: 15px;
    }
}